<main class="main">
  <div class="inner">
    <% if user_signed_in? %>
      <div class="greeting">
        <div>こんにちは、<%= link_to "#{current_user.email}さん", '#' , class: :greeting__link %></div>
      </div>
    <% end %>
    <%# // ログインしているときは上記を表示する %>
    <div class="card__wrapper">
      <%= render partial: "hairstyle" ,collection: @hairstyles %>
    </div>
  </div>
</main>